
creds.py
.ipynb_checkpoints/DataScraping-checkpoint.ipynb
.DS_Store
.cache
__pycache__/ari.cpython-38.pyc
__pycache__/creds.cpython-38.pyc
__pycache__/secret.cpython-38.pyc
~$Master Chart Data.xlsx
.ipynb_checkpoints/DataScrapingSandbox-checkpoint.ipynb
.ipynb_checkpoints/Dataset_Creation-checkpoint.ipynb
.ipynb_checkpoints/DataScrapingSandbox-checkpoint.ipynb
.ipynb_checkpoints/DataScrapingSandbox-checkpoint.ipynb
